canvas {
  position: fixed;
  top: 0;
  left: 0;
}


#content {
  width: 90%;
  word-break: break-word;
  top: 15%;
  left: 50%;
  position: absolute;
  color: white;
  font: 100 2em 'Inter';
  transform: translateX(-50%);
}


button {
  padding: 10px 20px;
  background: transparent;
  color: white;
  border: none;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
  text-transform: uppercase;
}

#connect {
  background-color: #FF6347;
}

#get_address {
  background-color: #dc996a;
}